*{
  margin: 0px;
  padding: 0px;
  top: 0px;
  font-family: sans-serif;
}
body{
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17;
  color: brown;
  line-height: 1.6;


}

 #showcase{
   background-image:url('../img/landing.jpg');
   height: 600px;
   width: 100%;
   display: block;
   flex-direction: column;
   background-size: cover;
   background-position: center;
   text-align: center;
   top: 100px;
 }
 #showcase h1{
   color: rebeccapurple;
   font-size: 50px;
   text-align: center;
 }
 #showcase p{
   color: black;
   font-size: 20px;
   text-align: center;
 }
 }
 ul{
   position: fixed;
   left: 0px;
   top: 30px;
 }
 .grid{
   display: grid;
 }
 .grid div:nth-child(even){
   background-color: green;
 }
 .column {
  float: right;
  width: 33px, 33px;
  position:relative;
  right: -174px;
  padding: 0px;
  margin: 0;}
  .col{
    position: relative;
    top: 250px;
    padding: 0px;
  }
  .co{
    position: absolute;
    top: 90px;
    padding: 0px;
    top: 15px;
    margin: 0px;
  }
  .para{
    color: black;
    text-align:justify;
    position: relative;
    left: 150px;
    float: left;
  }
  .h2{
    color: black;
    position:relative;
    right: -150px;
    align-items:baseline;

  }
  .h3{
    color: black;
    position:relative;
    left: 150px;
    font-style: italic;
  }
  .pa{
    color: black;
    position:relative;
    text-align:right;
    float: left;
    top: 300px;
    right: 200px;
    font-size: 15px;
    text-align: right;


  }
  .h4{
    color: black;
    position: relative;
    float: right;
    top: 300px;
    right: 120px;
    font-size: 25px;
    font-style: italic;
  }
 .h{
   color: black;
   position: relative;
   float: right;
   top: 260px;
   right: 200px;
   font-size: 30px;
 }
 .img{
   position:relative;
   float:right;
   padding:0px;
   left: 600px;
   top: -100px;


 }
 #bg{
   background-image: url('../img/foodsBg.jgp');
   height: 100%;
   position:relative;
   width: 100%;
   padding: 0px;
   background-size: cover;
   margin: 0px;
   background-position: center;



}
}

/* Clear floats after containers */
#container::after {
    content: "";
    clear: both;
    display: table;
    color: black;
}
/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
#container {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    top: 80px;
    border-left-width: medium;
    color: black;
    left: 20px;


}
/* Increase the font-size of a span element */
#container span {
    font-size: 20px;
    margin-right: 10px;
    color: purple;
}
.col-md-6{
  position: relative;
  color: black;
  top: 100px;
}
#Happy{
  background-color: lavender;
  color: black;
  padding: 42px;

}
#Hour{
  background-color: coral;
  color: white;
  padding: 42px;
}
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
}
.col-md-3{
  padding: 0;
  position: relative;
  margin: 0;
  top: 0px;
}
.jumbotron{
  padding: 0;
}
